<html>
<head>
<style>
td.neg { color: #a00;}
</style>
</head>
<body>

<h1>Transactions for account {{account.number}} ({{account.currency}})</h1>

<table border="1" cellspacing="0" cellpadding="5">
<tr>
  <th>Date</th>
  <th>Concept</th>
  <th>Change</th>
  <th>Balance</th>
<tr>
{% for tr,amounts in transactions_and_amountscolumns %}
<tr>
  <td>{{tr.date}}</td>
  <td>Tr. {{tr.id}}:
	{# description: #}
	{% if tr.op_type == 'tra' and tr.source_acc == account %}
	Transfer from this account (view <a href="{% url 'account-detail' tr.dest_acc.number %}">dest.</a>)
	<br />
	<small>Amount in destination: {{tr.dest_amount}} {{tr.dest_acc.currency}}</small>
	{% elif tr.op_type == 'tra' and tr.dest_acc == account %}
	Transfer to this account (view <a href="{% url 'account-detail' tr.source_acc.number %}">src.</a>)
	<br />
	<small>Amount in origin: {{tr.source_amount}} {{tr.source_acc.currency}}</*small>
	{% elif tr.op_type == 'wd' %}
	Withdrawal
	{% elif tr.op_type == 'dep' %}
	Deposit
	{% else %}Unknown{% endif %}
</td>
  <!-- <td>~ {{tr.source_amount}}, {{tr.dest_amount}} ~</td> -->
  <td class="{% if amounts.change < 0 %}neg{% endif %}">
	{% if amounts.change > 0 %}+{% endif %}{{amounts.change}}
	{{account.currency}}
  </td>
  <td>
	{{amounts.accum}}
	{{account.currency}}
  </td>
{% empty %}
<tr>None</tr>
{% endfor %}
</table>

<p>Current balance: {{account.balance}} {{account.currency}}</p>
</body>
</html>
