
<h1>Transactions for account {{account.number}}</h1>

<table border="1" cellspacing="0" cellpadding="5">
{% for tr in transactions %}
<tr>
  <td>{{tr.date}}</td>
  <td>Tr. {{tr.id}}:
	{# description: #}
	{% if tr.op_type == 'tra' and tr.source_acc == account %}
	Transfer from this account (view <a href="{% url 'account-detail' tr.dest_acc.number %}">dest.</a>)
	{% elif tr.op_type == 'tra' and tr.dest_acc == account %}
	Transfer to this account (view <a href="{% url 'account-detail' tr.source_acc.number %}">src.</a>)
	{% elif tr.op_type == 'wd' %}
	Withdrawal
	{% elif tr.op_type == 'dep' %}
	Deposit
	{% else %}Unknown{% endif %}
</td>
  <!-- <td>~ {{tr.source_amount}}, {{tr.dest_amount}} ~</td> -->
  <td>
	{% if tr.op_type == 'tra' and tr.source_acc == account %}
	- {{tr.source_amount}}
	{% elif tr.op_type == 'tra' and tr.dest_acc == account %}
	+ {{tr.dest_amount}}
	{% elif tr.op_type == 'wd' %}
	- {{tr.source_amount}}
	{% elif tr.op_type == 'dep' %}
	+ {{tr.dest_amount}}
	{% endif %}
	{{account.currency}}
  </td>
{% empty %}
<tr>None</tr>
{% endfor %}
</table>
